        @import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Anta&family=Nova+Square&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
        }

        body {
            background-color: rgb(250, 245, 237);
            width: 100%;
            /* overflow-x: hidden; */
        }

        main #back-img {
            display: flex;
            justify-content: center;
            /* Center horizontally */
        }

        .scheme {
            position: relative;
            background-color: green;
            font-family: 'Nova Square', sans-serif;
            text-align: center;
            color: whitesmoke;
        }

        .div-nav {
            position: sticky;
            z-index: 100;
            top: 0;
            transition: background-color 0.5s ease;
        }

        /* @media(max-width:376px) {
            .div-nav {
                position: sticky;
                z-index: 100;
                top: 7px;
                transition: background-color 0.5s ease;
            }
        } */

        .navmain {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .div-nav:hover {
            background-color: whitesmoke;
        }

        .div-nav.scrolled {
            background-color: whitesmoke;
        }

        #Cottonman {
            color: brown;
            text-decoration: none;
            font-size: 39px;
            transition: height 1s ease;
            font-family: 'Anta', sans-serif;
        }

        #Cottonman:hover {
            content: url("icon.png");
            height: 50px;
        }

        #Cottonman.scrolled {
            content: url("icon.png");
            height: 50px;
        }


        .img-icon {
            height: 2rem;
            width: auto;
            padding-right: 5px;
            cursor: pointer;
        }

        /* Style the input field */
        input[type="text"] {
            border: none;
            /* padding: 10px; */
            padding-top: 15px;
            width: 0;
            background-color: transparent;
            outline: none;
            transition: width 0.4s ease-in-out;
        }

        /* Style the search button */
        .search-button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            padding-top: 15px;
            padding-right: 10px;
        }

        /* Search icon */
        .fa-search {
            font-size: 20px;
        }

        /* Expand the input field on click */
        input[type="text"]:focus {
            width: 90px;
        }
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
        /* Section - 1 */

        .section-1 {
            top: -70px;
            position: relative;
            z-index: 50;
        }

        @media(max-width: 292px) {
            .section-1 {
                top: -105px;
            }
        }

        .carousel-modify{
            overflow: hidden;
        }

        @media (max-width:998px){
            .section-1{
                width: 100%;
            }
        }
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
        /* Section - 2 */
        .section-2 {
            position: relative;
            background-color: white;
            top: -100px;
            border: 1px solid white;
        }

        .new-arrive {
            padding-top: 50px;
            padding-bottom: 25px;
            text-align: center;
            font-size: 2rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: lighter;
        }

        .section-2 .arriv-img {
            height: 400px;
            width: 300px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            cursor: pointer;
        }


        .section-2 .flex-content {
            width: 300px;
            cursor: pointer;

        }

        .section-2 .flex-content p {
            font-family: sans-serif;
            font-size: 0.8em;
            font-weight: 100;
            text-align: center;
        }

        @media (max-width:291px) {
            .section-2 .arriv-img {
                height: 200px;
                width: 150px;
                cursor: pointer;

            }

            .section-2 .flex-content {
                width: 150px;
                cursor: pointer;

            }
        }

        @media (max-width:133px) {
            .section-2 .arriv-img {
                height: 150px;
                width: 125px;
                cursor: pointer;

            }

            .section-2 .flex-content {
                width: 125px;
                cursor: pointer;

            }
        }

        .section-2 .anchor {
            text-decoration: none;
            color: black;
        }

        /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
        /* Section - 3 */

        .section-3 {
            position: relative;
            background-color: white;
            top: -100px;
            border: 1px solid white;
        }

        .Collection {
            padding-top: 50px;
            padding-bottom: 25px;
            text-align: center;
            font-size: 2rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: lighter;
        }

        .img-container {
            overflow: hidden;
            object-fit: cover;
            padding: 0;
            margin: 15px 5px 15px 5px;
            cursor: pointer;
        }

        .img-container img {
            transition: transform 4.0s ease;
            /* Add smooth transition */
        }

        .img-container:hover img {
            transform: scale(1.1);
            /* Zoom in on hover */
        }

        /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
        /* Section - 4 */

        .section-4 {
            /* border: 1px solid black; */
            /* width: 100vw; */
            height: 60vh;
            position: relative;
            top: -100px;
            justify-content: top center;
        }

        .section-4 div {
            overflow: hidden;
            top: 30%;
            border: 1px solid black;
            width: 50vw;
            position: relative;
            background-color: white;
            margin: 0 auto;
            text-align: center;
        }

        .section-4 div .p1 {
            padding: 10px 5px 10px 5px;
            font-size: 12px;
            font-family: 'Gill Sans', sans-serif;
        }

        .section-4 div .p2 {
            font-size: 16px;
            font-family: 'Trebuchet MS', sans-serif;
        }

        /* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
        /* footer */

        .footer {
            background-color: whitesmoke;
            padding: 70px 0;
            position: relative;
            z-index: 10;
        }

        .footer-container {
            max-width: 1170px;
            margin: auto;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
        }

        ul {
            list-style: none;
        }

        .footer-col {
            width: 25%;
            padding: 0 15px;
        }

        .footer-col h4 {
            font-size: 18px;
            color: #333;
            text-transform: capitalize;
            margin-bottom: 35px;
            font-weight: 500;
            position: relative;
        }

        .footer-col h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
        }

        .footer-col ul li:not(:last-child) {
            margin-bottom: 10px;
        }

        .footer-col ul li a {
            font-size: 16px;
            text-transform: capitalize;
            color: #000;
            text-decoration: none;
            font-weight: 300;
            color: #000;
            display: block;
            transition: all 0.3s ease;
        }

        .footer-col ul li a:hover {
            color: #52ff6c;
            padding-left: 8px;
        }

        .footer-col .social-links a {
            display: inline-block;
            height: 40px;
            width: 40px;
            background-color: #fff;
            margin: 0 10px 10px 0;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color: #000;
            transition: all 0.5s ease;
        }

        .footer-col .social-links a:hover {
            color: #fff;
            background-color: #49ff01;
        }

        /*responsive*/
        @media(max-width: 767px) {
            .footer-col {
                width: 50%;
                margin-bottom: 30px;
            }

            .copyright {
                font-size: 12px;
            }
        }

        @media(max-width: 574px) {
            .footer-col {
                width: 100%;
            }

            .copyright {
                font-size: 10px;
            }
        }

        /* ///////////////////////////////////////////////////////////////////////////////////////////////// */

        .women {
            display: none;
            border: 2px solid red;
            border-radius: 5px;
            height: 75%;
            background-color: rgb(55, 255, 0);
            padding: 0.5rem;
        }

        .women p {
            font-size: 2rem;
            font-weight: 500;
            font-family: monospace;
            color: rgb(247, 242, 242);
        }

        @media (max-width:767px) {
            .women {
                display: block;
                justify-content: center;
            }
        }